<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rising.dots.coursepath">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AllCourses"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".SearchCCode"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".SearchCTitle"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ViewCourse"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".CurrentCourses"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".CompletedCourses"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Timetable"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".FindCourses"
            android:screenOrientation="portrait">
        </activity>

        <receiver
            android:name=".ReminderReceiver"/>
    </application>


</manifest>